<h1><%= image_tag("logoultra250CinzaEscuro.png", size: "100x100", alt: "Ultravisao") %> <%= @vehicle_brand.name %></h1>
<%= link_to 'Voltar', vehicle_brands_path, class: "btn btn-default" %>

<hr>


	<h3>Veiculos</h3>
