



	
<h1><%= image_tag("logoultra250CinzaEscuro.png", size: "100x100", alt: "Ultravisao") %> Fale Conosco</h1>
<hr>


<h1>Entre em contato com a Ultra</h1>
</div>

<!-- 
<h1><%= image_tag("logoultra250CinzaEscuro.png", size: "70x70", alt: "Ultravisao") %> Servicos</h1>
<hr>

<div class="row">
		
				<div class="col-md-4">
					<div class="well">
						<div align="center">
									<h2>Laudo de Transferência</h2>
					  			<hr>
					  				<li class="list-group-item"><h3>Resolucao Contran 250 de 24.09.2007</h3></li>
					  			<h5> Emitimos o laudo para transferencia de propriedade do veiculo.</h5>
					  			<hr>
					  			<h3>Itens Verificados:</h3>
					  			<h5>Sao Verificados todos os itens exigidos para a transferencia de propriedade pelo padrao Denatran, entre eles: O bloco nele instalado é original e está dentro dos padrões da montadora. 
					II – com o cadastro informatizado do veículo na BIN;
					III – com o cadastro informatizado do veículo em campo próprio da Base Estadual ou no campo das "observações" do CRV/CRLV; </h5>
					  </div>
					</div>
			</div>



			<div class="col-md-4">
					<div class="well">
						<div align="center">
									<h2>Vistoria Cautelar</h2>
					  			<hr>
					  				<li class="list-group-item"><h3>Comercializando Veículos Semi-Novos</h3></li>
					  			<h5>Você que comprou um veículo semi-novo e que se preocupa com a procedência do veículo que está adquirindo.
Fazemos uma análise técnica (Vistoria) para saber se o veículo não possui adulterações.<Br> Inclusive Documentacao</h5>
					  			<hr>
					  			<h3>Itens Verificados:</h3>
					  			<h5>Numerações do motor, chassi, câmbio, vidros, etiquetas, cortes estruturais etc.</h5>
					  </div>
					</div>
			</div>

			<div class="col-md-4">
					<div class="well">
						<div align="center">
									<h2>Tratamento de Chassi</h2>
					  			<hr>
					  				<li class="list-group-item"><h3>Limpeza do Chassi</h3></li>
					  			
					  			<hr>
					  			<h5>Este produto é disponibilizado aos clientes para a recuperação de CHASSI, seja o mesmo sofrendo desgastes pelo tempo, ferrugem ou de outra natureza. Sua comercialização refere-se a aplicação de produtos autorizados, cuja garantia e cuidados em sua aplicação é exigida pela lei de segurança no trabalho.</h5>
					  			
					  </div>
					</div>
			</div>

 -->